<html>

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/stylesheets/jumbotron-narrow.css">
  <link rel="stylesheet" href="/stylesheets/calendario.css">

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/home">Home</a></li>
            <li role="presentation"><a href="/login">Sair</a></li>
            <li role="presentation"><a href="/contato">Contato</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">R Acadêmico</h3>
      </div>
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="/professor/<%=professor%>">Perfil</a></li>
        <li role="presentation"><a href="/professor/<%=professor%>/diario">Diario</a></li>
        <li role="presentation"><a href="/professor/<%=professor%>/horario">Horario</a></li>
        <li role="presentation" class="active"><a href="/professor/<%=professor%>/calendario">Calendário</a></li>
        <li role="presentation"><a href="/professor/<%=professor%>/material">Enviar Material</a></li>
      </ul>
      <h1 class="title text-center"> Agosto 2018 </h1>
      <div class="calendar" data-toggle="calendar">
        <div class="row">
          <div class="col-xs-12 calendar-day calendar-no-current-month">
            <time datetime="2014-06-29">29</time>
          </div>
          <div class="col-xs-12 calendar-day calendar-no-current-month">
            <time datetime="2014-06-30">30</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-01">01</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-02">02</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-03">03</time>

          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-04">04</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-05">05</time>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-06">06</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-07">07</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-08">08</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-09">09</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-10">10</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-11">11</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-12">12</time>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-13">13</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-14">14</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-15">15</time>

          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-16">16</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-17">17</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-18">18</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-19">19</time>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-20">20</time>

          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-21">21</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-22">22</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-23">23</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-24">24</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-25">25</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-26">26</time>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-27">27</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-28">28</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-29">29</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-30">30</time>
          </div>
          <div class="col-xs-12 calendar-day">
            <time datetime="2014-07-31">31</time>
          </div>
          <div class="col-xs-12 calendar-day calendar-no-current-month">
            <time datetime="2014-08-01">01</time>
          </div>
          <div class="col-xs-12 calendar-day calendar-no-current-month">
            <time datetime="2014-08-02">02</time>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>