<html>

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/stylesheets/jumbotron-narrow.css">

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/home">Home</a></li>
            <li role="presentation"><a href="/login">Sair</a></li>
            <li role="presentation"><a href="/contato">Contato</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">R Acadêmico</h3>
      </div>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/aluno/<%=aluno.id_aluno%>">Perfil</a></li>
        <li role="presentation"><a href="/aluno/<%=aluno.id_aluno%>/horario">Horario</a></li>
        <li role="presentation"><a href="/aluno/<%=aluno.id_aluno%>/diario">Diario</a></li>
        <li role="presentation"><a href="/aluno/<%=aluno.id_aluno%>/documento">Documento</a></li>
        <li role="presentation"><a href="/aluno/<%=aluno.id_aluno%>/calendario">Calendário</a></li>
        <li role="presentation"><a href="/aluno/<%=aluno.id_aluno%>/material">Material</a></li>
      </ul>

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Informações Pessoais</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Matricula:</td>
                    <td>
                      <%=aluno.id_aluno%>
                    </td>
                  </tr>
                  <tr>
                    <td>Nome:</td>
                    <td><%=aluno.nome%></td>
                    <tr>
                      <td>Endereço:</td>
                      <td><%=aluno.endereco%> </td>
                    </tr>
                    <tr>
                      <td>Data de Nascimento:</td>
                      <td><%=aluno.data_nascimento%> </td>
                    </tr>
                    <tr>
                      <td>Nome do Pai:</td>
                      <td><%=aluno.nome_pai%> </td>
                    </tr>
                    <tr>
                      <td>Nome da Mãe:</td>
                      <td><%=aluno.nome_mae%></td>
                    </tr>
                    <tr>
                      <td>RG: </td>
                      <td><%=aluno.rg%></td>
                    </tr>
                    <tr>
                      <td>CPF: </td>
                      <td><%=aluno.cpf%></td>
                    </tr>
                    <tr>
                      <td>Telefone:</td>
                      <td><%=aluno.cpf%></td>
                    </tr>
                    <tr>
                      <td>Email: </td>
                      <td><%=aluno.email%></td>
                    <tr>

                </tbody>
              </table>

            </div>
          </div>
        </div>
        <div class="panel-heading">
          <h3 class="panel-title">Informações Gerais: </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Curso:</td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>Turno:</td>
                    <td> </td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>